.btn {
  font-size: $small;
  font-weight: $bold;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  background: $white;
  color: $smoky-black;
  border-color: $smoky-black;
  outline: none;
  width: 80px;
  text-align: center;
  margin-top: 0.8rem;

  &:focus {
    border-color: $light-gray;
    color: $isabelline;
  }

  &:hover {
    border-color: $light-gray;
  }
}

//@media screen and (min-width: 576px)
@include minPhone {
  .btn {
    font-size: $medium;
    padding: 1rem 1.8rem;
  }
}
